# Google Form pre-fill (optional – app has defaults)
# VITE_GOOGLE_FORM_BASE=https://docs.google.com/forms/d/e/YOUR_FORM_ID/viewform
# VITE_ENTRY_NAME=789348548
# VITE_ENTRY_AGE=1922394649
# VITE_ENTRY_GENDER=1816413769
# VITE_ENTRY_DATE=447483951
# VITE_ENTRY_HIGHEST_LEVEL=1329618290
# VITE_ENTRY_ACCURACY=1015731778
# VITE_ENTRY_MEAN_RT=598043661
# VITE_ENTRY_LEVEL_PASSED_COUNT=1944454944
# VITE_ENTRY_TOTAL_CORRECT=351321749
# VITE_ENTRY_TOTAL_TARGETS=298165890
